@using System.Web.Mvc.Html
@using System.Web.Optimization
@* @model List<VidlyTest.Models.Customer> *@
@* @model System.Data.Entity.DbSet<VidlyTest.Models.Customer> *@
@model List<VidlyTest.Models.Customer>

@Html.Partial("_NavBar" /*, Model.Movie*/)
@* @Html.Partial("_LoginPartial") *@

@*
@{
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
}
*@

@Styles.Render("~/Content/css")
<h1>Customers</h1>

<table id="customers" class=“table table-bordered table-hover table”>
    <thead>
    <tr>
        <th>Customer</th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>
    </thead>
     <tbody>
  
    </tbody>

</table>

@section scripts {
    @* <script type="text/javascript" src="/Content/jquery-3.6.0.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
    
    $(document).ready(function () { 
        $("#customers").DataTable({
            ajax: {
               url: "/api/customers",
               dataSrc: ""
                
            },
            columns: [
                {
                 data: "name",
                 render: function(data, type, customer) {
                 return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                 }
                },
                {
                   data: "membershipType.name"
                 },
                 {
                    data: "id",
                    render: function (data) {
                        return "<button class = 'btn-link js-delete' data-customer-id = " + data + ">Delete</button>";   
                     }
                 }
             ]
        });
        
        $("#customers").on("click", ".js-delete", function () {
            var button = $(this);
            
            if ( confirm("Are you sure you want to delete this customer ?")) {
                $.ajax({
                    url: "/api/customers/" + button.attr("data-customer-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();    
                    }
                });
                }
            });  
           });
    </script>
}