@* @model VidlyTest.ViewModels.SecondMovieViewModel *@
@model VidlyTest.Models.Movie
@* @model VidlyTest.ViewModels.MovieFormViewModel *@

@Html.Partial("_NavBar" /*, Model.Movie*/)
@{
    
}
<h2>Info: </h2>
@Html.AntiForgeryToken()  
@using (@Html.BeginForm("Save", "Movies"))
{    
    <div class="form-group"> 
        @Html.LabelFor(m=> m.Name )
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group"> 
        @Html.LabelFor(m=>m.AddedDate)
        @Html.TextBoxFor(m=>m.AddedDate, new { @class = "form-control" }) 
    </div>
    <div class="form-group">  
        @Html.LabelFor(m=>m.Genre)
       @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genre.Movies),  new {@class = "form-control"})
    </div>
    <div class="form-group"> 
        @Html.LabelFor(m=>m.StockNumber)
        @Html.TextBoxFor(m=>m.StockNumber, new { @class = "form-control" }) 
    </div>
    <div class="form-group"> 
        @Html.LabelFor(m=>m.ReleaseDate)
        @Html.TextBoxFor(m=>m.ReleaseDate, new { @class = "form-control" }) 
    </div>
    @Html.HiddenFor(m=>m.Id);
    
    <a href="@Url.Action("Save", "Movies")">
        <button type = "submit" class = "btn btn-primary">Save</button>
    </a>
}
