// OLD MOVIES A.K.A INDEX




@*@using System.Web.Mvc.Html
@model List<VidlyTest.Models.Movie>

@Html.Partial("_NavBar" /*, Model.Movie*/)

<h2>Movies: </h2>

<a href="@Url.Action("New", "Movies")">
    <button type="button" class="btn btn-primary">New Movie</button>
</a>

<br>
<br>

<table>
    <th>Movie</th>
    <th>Genre
    <br>
    <th>

    @foreach ( var movie in Model )
    {
        <tr>
            <td>@Html.ActionLink(@movie.Name, "Edit", new { id = movie.Id })</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>*@


